body{
    max-width: 960px;
    margin: auto;
}
#kpi{
    width: 100px;
    height: 120px;
    border-radius: 60px;
    position: fixed;
    bottom: 70px;
    right: 250px;
}
#img {
    border: 2px solid black ;
    border-radius: 10px;
}
a:hover {
    background-color: grey;
}
h2 {
    background-color: black;
    color: white;
    width: 120px;
}
.k{
    border:1px solid black ;
    width: 240px;
}
.p{
    display: inline;
    padding: 10px;;
    font-size: 25px;
}